@font-face {
    font-family: beba neue bold;
    src: url(./bebaneue/bebasneue-bold-webfont.woff2) format("woff2"), url(./bebaneue/bebasneue-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: beba neue;
    src: url(./bebaneue/bebasneue-regular-webfont.woff2) format("woff2"), url(./bebaneue/bebasneue-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: beba neue light;
    src: url(./bebaneue/bebasneue-light-webfont.woff2) format("woff2"), url(./bebaneue/bebasneue-light-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

html,
body {
    margin: 0;
    padding: 0;
    /*background: #c2329c;*/
    height: 100%;
    width: 100%
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient( to left, #c2329c, #c2329c);
}

.parent-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.submit {
    color: #fff;
    background: #210d18;
    transition: .2s ease-in-out all;
    overflow: hidden;
    padding: 30px 60px;
    text-decoration: none;
    margin-left: 30px
}

.submit:hover {
    background: #c00;
    text-shadow: 1px 1px 0 #f33, 2px 2px 0 #f33, 3px 3px 0 #f33, 4px 4px 0 #f33, 5px 5px 0 #f33, 6px 6px 0 #f33, 7px 7px 0 #f33, 8px 8px 0 #f33, 9px 9px 0 #f33, 10px 10px 0 #f33, 11px 11px 0 #f33, 12px 12px 0 #f33, 13px 13px 0 #f33, 14px 14px 0 #f33, 15px 15px 0 #f33, 16px 16px 0 #f33, 17px 17px 0 #f33, 18px 18px 0 #f33, 19px 19px 0 #f33, 20px 20px 0 #f33, 21px 21px 0 #f33, 22px 22px 0 #f33, 23px 23px 0 #f33, 24px 24px 0 #f33, 25px 25px 0 #f33, 26px 26px 0 #f33, 27px 27px 0 #f33, 28px 28px 0 #f33, 29px 29px 0 #f33, 30px 30px 0 #f33, 31px 31px 0 #f33, 32px 32px 0 #f33, 33px 33px 0 #f33, 34px 34px 0 #f33, 35px 35px 0 #f33, 36px 36px 0 #f33, 37px 37px 0 #f33, 38px 38px 0 #f33, 39px 39px 0 #f33, 40px 40px 0 #f33, 41px 41px 0 #f33, 42px 42px 0 #f33, 43px 43px 0 #f33, 44px 44px 0 #f33, 45px 45px 0 #f33, 46px 46px 0 #f33, 47px 47px 0 #f33, 48px 48px 0 #f33, 49px 49px 0 #f33, 50px 50px 0 #f33, 51px 51px 0 #f33, 52px 52px 0 #f33, 53px 53px 0 #f33, 54px 54px 0 #f33, 55px 55px 0 #f33, 56px 56px 0 #f33, 57px 57px 0 #f33, 58px 58px 0 #f33, 59px 59px 0 #f33, 60px 60px 0 #f33, 61px 61px 0 #f33, 62px 62px 0 #f33, 63px 63px 0 #f33, 64px 64px 0 #f33, 65px 65px 0 #f33, 66px 66px 0 #f33, 67px 67px 0 #f33, 68px 68px 0 #f33, 69px 69px 0 #f33, 70px 70px 0 #f33
}

.title {
    font-family: beba neue bold;
    color: #fff;
    color: #fff
}

.heading {
    font-family: beba neue;
    color: #fff;
    color: #fff
}

#registration-button {
    display: block;
    margin-top: 15px
}

#registration-button a {
    font-family: beba neue;
    color: #210d18;
    padding: 5px;
    background-color: #fff;
    transition: .3s;
    text-decoration: none
}

#registration-button a:hover {
    background-color: #5e344c;
    color: #fff
}

.normal-text {
    font-family: montserrat;
    color: #fff;
    color: #fff
}

.contents {
    margin: 8vw
}

.content-margin {
    margin: 2vw
}

.content div {
    display: inline
}

.content img {
    width: 100%;
    height: 100%
}

.content .question {
    font-weight: bolder;
    margin-bottom: 5px
}

.content .answer {
    font-weight: lighter;
    margin: 5px 0 20px
}

.no-margin-top {
    margin-top: 0
}

.header {
    width: 100%
}

#maillist form {
    width: 100%;
    padding-top: 32px;
    display: flex
}

#maillist form input {
    font-family: beba neue;
    background: #fff;
    color: #210d18
}

#maillist form input:focus,
#maillist form input:active {
    border-color: #fff;
    position: relative
}

#maillist form .email {
    flex-grow: 1
}

@media all and (min-width:1024px) {
    .conditional-no-margin-top {
        margin-top: 0
    }
    .title {
        font-size: 200px;
        font-size: 15vw
    }
    .heading {
        font-size: 72px;
        font-size: 4vw
    }
    #registration-button a {
        font-size: 72px;
        font-size: 4vw
    }
    .normal-text {
        font-size: 19px;
        font-size: 1.5vw
    }
    .contents {
        display: flex
    }
    .content {
        width: 50%
    }
    .content .answer {
        font-size: 1.3vw
    }
    .four-items {
        width: 33%
    }
    #maillist form input {
        padding: .5vw;
        font-size: 2vw
    }
}

@media all and (max-width:1024px) {
    .conditional-center {
        text-align: center
    }
    .title {
        font-size: 100px;
        font-size: 25vw
    }
    .heading {
        font-size: 48px;
        font-size: 7.5vw
    }
    #registration-button a {
        font-size: 48px;
        font-size: 7.5vw
    }
    .normal-text {
        font-size: 19px;
        font-size: 4vw;
        text-align: center
    }
    .four-items {
        width: 50%;
        padding: 3vw 0
    }
    .content .answer {
        font-size: 3.5vw
    }
    #maillist form input {
        padding: 1vw;
        font-size: 4vw
    }
}

#sponsors {
    background: #fff;
    height: auto;
    flex-direction: column;
    flex-flow: column wrap
}

#headDiv {
    background-image: url(../assets/hackposter2.png);
    width: 120%;
    align-content: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}